body {
    display:flex;
    flex-direction: column;
    font-family: Roboto;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;

}

.top {
    display: flex;
    background-color: #1f2937;
    min-height: 300px;
    

}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    margin-right: 48px;
    font-size: 18px;
    color: #e5e7eb;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-left: 100px;

}

#secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    margin-left: 100px;
    margin-top: 0px;
    margin-right: 80px;

}

.placeholder {
    min-width: 600px;
    margin-right: 48px;
    border: solid 2px white;
    margin-bottom: 50px;   
}

.text-button .sign-up {
    margin-left: 100px;
    background-color: #3886f6;
    color: #e5e7eb;
    padding:10px 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: Roboto;
    margin-bottom: 100px;
}

.logo {
    border: solid 2px white;
    margin-left: 100px;
    margin-top: 15px;
    min-height: 100px;
    min-width: 100px;
    
}

.info-img {
    display: flex;
    justify-content: center;
    gap: 52px;

}

.image {
    max-width: 150px;
    text-align: center;
}

.info-img img {
    border: solid 3px blue;
    min-width: 150px;
    min-height: 150px;
    border-radius: 10px;
}

.subtext {
    margin-top: 5px;
    font-weight: lighter;
    color: grey;
    margin-bottom: 120px;
}

.middle-text {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;

}

.testimonial {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
}

#customer-name {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-align: end;
}

.testimonial p {
    margin-left: 230px;
    margin-right: 230px;
}